/* 
===========
 MAIN BLOCK
===========
*/
.container {
    display: grid;
    grid-template-columns: 614px 293px;
    grid-template-areas: "c s";
    grid-column-gap: 38px;
    background: #fafafa;
    margin: auto;
    margin-top: 75px;
    width: 935px;
    padding-top: 60px;
}

/* 
===========
    POST
===========
*/
.content {
    grid-area: c;
}

.container .content .post {
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
    margin-bottom: 30px;
    background: #fff;
}

.container .content .post .post_header {
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    display: grid;
    grid-template-columns: 60px auto auto;
}

.post_header .acc_photo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.0975);
    background: #fff;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}

.post_header .acc_name {
    justify-self: start;
    align-self: center;
}

.post_header .acc_name a{
    color: #262626;
    text-decoration: none;
    font-weight: 600;
}

.post_header .settings {
    justify-self: end;
    align-self: center;
    padding-right: 20px;
    padding-bottom: 20px;
}

.settings a{
    font-size: 30px;
    color: #262626;
}

.post_image {
    width: 612px;
}

.post_icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main_icons {
    display: flex;
    padding-left: 16px;
    justify-self: start;
    align-self: center;
    padding-top: 5px;
    margin-bottom: 5px;
}

#post_like {
    margin-right: 20px;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
    background-position-x: 0px;
    background-position-y: -295px;
    background-size: 355px 344px;
}

#post_comment {
    margin-right: 20px;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
    background-position-x: -142px;
    background-position-y: -97px;
    background-size: 355px 344px
}

#post_share {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
    background-position-x: -225px;
    background-position-y: -320px;
    background-size: 355px 344px;
}

#favorite {
    padding-right: 16px;
    justify-self: end;
    align-self: center;
}

#post_favorite {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_33fe29edfd27.png/33fe29edfd27.png);
    background-position-x: -130px;
    background-position-y: -326px;
}

.post_footer b {
    color: #262626;
    font-weight: 600;
}

.post_footer .gray {
    color: gray;
    font-weight: 620;
}

.likes {
    padding: 5px 16px 0px 16px;
}

.post_text {
    padding: 5px 16px 0px 16px;
}

.comments {
    padding: 5px 16px 5px 16px;
}

.comment {
    display: grid;
    grid-template-columns: auto 12px;
}

#comment_like {
    height: 11px;
    width: 12px;
    display: block;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_33fe29edfd27.png/33fe29edfd27.png);
    background-position-x: -273px;
    background-position-y: -128px;
}

.comments .time {
    margin-top: 4px;
    font-size: 10px;
    color: gray;
}

.add_comment {
    height: 56px;
    border-top: 1px solid rgba(0,0,0,.0975);
    display: grid;
    grid-template-columns: auto auto;
}

#comment_area {
    margin-left: 16px;
    justify-self: start;
    align-self: center;
    height: 18px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    width: 400px;
}

#submit_comment {
    margin-right: 16px;
    justify-self: end;
    align-self: center;
    height: 18px;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    color: #3897f0;
    font-weight: 600;
}
