/* 
===========
MAIN HEADER
===========
*/
.header {
    background: #fff;
    height: 52px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0px;
    transition: .2s;
    width: 100%;
}

.header_content {
    text-align:center;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
}

#search_box {
    width: 215px;
    height: 25px;
    background: #fafafa;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
    margin-top: 5px;
    text-align: center;
    align-self: center;
    margin: auto;
    min-width: 215px;
    margin-top: 13px;
}

#search_container {
    display: flex;
    margin: auto;
    padding-top: 4px;
    padding-left: 75px;
    cursor: text;
}

#search_container img {
    padding-top: 3px;
    padding-right: 4px;
    height: 12px;
    width: 12px;
}

#search_icon {
    height: 10px;
    width: 10px;
    display: block;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_4f48d3d2062b.png/4f48d3d2062b.png);
    background-position-x: -387px;
    background-position-y: -337px;
    margin-top: 4px;
    margin-right: 3px;
}

#search {
    height: auto;
    width: auto;
    border: 0;
    background: transparent;
    outline-width: 0;
    font-weight: 300;
    width: 50px;
}

.logo {
    min-width: 200px;
    padding-top: 5px;
    display: flex;
    padding-top: 10px;
}

#insta_icon {
    margin-top: 5px;
    width: 24px;
    height: 24px;
    display: block;
    background-size: 355px 344px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
    background-position-x: -252px;
    background-position-y: -197px;
}

#insta_text {
    margin-top: 5px;
    opacity: 1;
    transition: .2s;
    width: 103px;
    height: 29px;
    display: block;
    background-size: 355px 344px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
    background-position-x: -73px;
    background-position-y: -197px;
}

#logo_border {
    margin: 0px 10px;
    border-left: 1px solid #000;
    height: 34px;
}

.icons {
    display: flex;
    min-width: 200px;
    padding-top: 15px;
    padding-right: 30px;
    justify-content: flex-end;
}

#explore {
    height: 24px;
    width: 24px;
    display: block;
    background-size: 355px 344px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
    background-position: -227px -197px;
    margin-right: 25px;
}

#likes {
    height: 24px;
    width: 24px;
    display: block;
    background-size: 355px 344px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
    background-position: 0 -295px;
    margin-right: 25px;
}

#profile {
    height: 24px;
    width: 24px;
    display: block;
    background-size: 355px 344px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
    background-position: -175px -270px;
    margin-right: 10px;
}