/* 
===========
 CSS RESET
===========
*/
* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

a {
    text-decoration: none;
}

body {
    background: #fafafa;
}

/* 
===========
MAIN HEADER
===========
*/
.header {
    background: #fff;
    height: 52px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0px;
    width: 100%;
    transition: .2s;
}

.header_content {
    text-align:center;
    width: 935px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#search {
    width: 215px;
    height: 25px;
    background: #fafafa;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
    margin-top: 5px;
    text-align: center;
}

#search_closed {
    justify-self: center;
    align-self: center;
}

.logo {
    padding-top: 5px;
    justify-self: start;
    align-self: center;
}

#instalogo {
    padding-bottom: 4px;
}

#instatext {
    opacity: 1;
    transition: .2s;
    border-left: 1px solid #000;
}

.icons {
    padding-top: 10px;
    justify-self: end;
    align-self: center;
}

#explore {
    margin-right: 15px;
}

#like {
    margin-right: 15px;
}

/* 
===========
 MAIN BLOCK
===========
*/
.container {
    display: grid;
    grid-template-columns: 614px 293px;
    grid-column-gap: 38px;
    background: #fafafa;
    margin: auto;
    margin-top: 75px;
    width: 935px;
    padding-top: 60px;
}

/* 
===========
    POST
===========
*/
.container .content .post {
    border: 1px solid rgba(0,0,0,.0975);
    margin-bottom: 30px;
    background: #fff;
}

.container .content .post .post_header {
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    display: grid;
    grid-template-columns: 60px auto auto;
}

.post_header .acc_photo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.0975);
    background: #fff;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}

.post_header .acc_name {
    justify-self: start;
    align-self: center;
}

.post_header .acc_name a{
    color: #262626;
    text-decoration: none;
    font-weight: 600;
}

.post_header .settings {
    justify-self: end;
    align-self: center;
    padding-right: 20px;
    padding-bottom: 20px;
}

.settings a{
    font-size: 30px;
}

.post_image {
    width: 612px;
}

.post_icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#post_icons {
    padding-left: 16px;
    justify-self: start;
    align-self: center;
    padding-top: 5px;
}

#favorite {
    padding-right: 16px;
    justify-self: end;
    align-self: center;
}

.post_footer b {
    color: #262626;
    font-weight: 600;
}

.post_footer .gray {
    color: gray;
    font-weight: 620;
}

.likes {
    padding: 5px 16px 0px 16px;
}

.post_text {
    padding: 5px 16px 0px 16px;
}

.comments {
    padding: 5px 16px 5px 16px;
}

.comment {
    display: grid;
    grid-template-columns: auto 12px;
}

.comment .comment_like {
    justify-self: end;
    align-self: center;
    padding-right: 5px;
}

.comments .time {
    margin-top: 4px;
    font-size: 10px;
    color: gray;
}

.add_comment {
    height: 56px;
    border-top: 1px solid rgba(0,0,0,.0975);
    display: grid;
    grid-template-columns: auto auto;
}

#comment_area {
    margin-left: 16px;
    justify-self: start;
    align-self: center;
    height: 18px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    width: 400px;
}

#submit_comment {
    margin-right: 16px;
    justify-self: end;
    align-self: center;
    height: 18px;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    color: #3897f0;
    font-weight: 600;
}

/* 
===========
  SIDEBAR
===========
*/

.container .sidebar {
    position: sticky;
    top: 76px;
    height: 10px;
}

.account {
    height: 50px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 50px auto;
}

.photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.0975);
    background: #fff;
    overflow: hidden;
}

.name {
    padding-left: 15px;
    padding-top: 5px;
}

.name .fullname {
    color: gray;
}

#photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.stories {
    height: 233px;
    border: 1px solid rgba(0,0,0,.0975);
    margin-top: 4px;
    background: #fff;
}

.recommendations {
    height: 197px;
    border: 1px solid rgba(0,0,0,.0975);
    margin: 12px 0px 5px 0px;
    background: #fff;
}

.footer ul {
    text-decoration: none;
    list-style-type: none;
}

.footer .item {
    display: inline;
}

.footer .item a {
    text-decoration: none;
    color: #c7c7c7;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}